<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
ID <%= @user.id %>, 
User name <%= @user.name %>, 
User email <%= @user.email %>,
Created <%= @user.created_at %>,
Updated <%= @user.updated_at %>,
PW <%= @user.password_digest %>,
Token <%= @user.remember_token %>,
Admin <%= @user.admin %>